<div class ="jumbotron" >
    <h1> Redditclone </h1>
    <p> Redditclone is a resource for sharing links with yoru friends! </p>
    <p>
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row".
    <div class="col-md-4">
        <h2> Solves world hunger </h2>
        <p> Redditclone will deliver food and water to those in need, all over the world!</p>
    </div>
    <div class="col-md-4">
        <h2> Eliminates poverty </h2>
        <p> Redditclone will deliver money and education to those in need0, all over the world!</p>
    </div>
    <div class="col-md-4">
        <h2> Makes you beter looking </h2>
        <p> Redditclone will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira!</p>
    </div>
</div>
