// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn{

    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    color: black;
    text-align: center;
}

.social-btn:hover{
    background-color: gray;
    color: white;
    text-decoration: none;
}